fastapi
uvicorn[standard]
python-multipart
pillow
numpy
pandas
pyarrow
rasterio
torch==2.0.1
transformers==4.31.0
accelerate==0.21.0
peft==0.4.0
bitsandbytes==0.41.0
sentencepiece
einops
einops-exts
timm
scipy
scikit-learn
